<br><br><br>
<% let shortLinkedIn = student.linked_in.replace("https://www.linkedin.com/in/","").replace("/","") %>
<% let shortGit = student.facebook.replace("https://github.com/","").replace("/","") %>

<div class="panel panel-default mycard flex-item">
    <div class='panel-body'>
        
        <img class='img-responsive image' src="/<%= student.image %>" alt="Picture" width="280">
        <div class = "studentinfo">
            <h3><%= student.first_name %> <%= student.last_name %></h3>
            <p><b>Email:</b><br> <%= student.email %> </p>
            <p><b>Phone:</b><br><%= student.phone %>  </p>
            <p><b>LinkedIn:</b><br><a href="<%= student.linked_in %>" ><%= shortLinkedIn %></a>  </p>
            <p><b>GitHub:</b><br> <a href="<%= student.facebook %>"> <%= shortGit %></a>  </p>
            <br>
            <p><b>Previous Occupation:</b><br> <%= student.prev_occupation %></p>
        </div>
        <form class="" action="/edit/<%= student.id %>?_method=GET" method="POST">
            <input class="input buttonshadow" type="submit" value="Edit" width="100">
        </form>    
        
        <form class="" action="/students/<%=student.id%>?_method=DELETE" method="POST">
            <input class="input buttonshadow" type="submit" value="Delete" width="100">
        </form>
    </div>
</div>
