
<% include ./partials/header %>
<br><br>
<h1>Edit Student</h1>
<form class="editform" action="/students/<%=student.id%>?_method=PUT" method="POST">
    <br><br>
    <label class="input" for="first_name">First Name:</label>
    <input class="input" type="text" name="student[first_name]" id="first_name" value="<%= student.first_name %>" required>
    
    <br><br>
    <label class="input" for="last_name">Last Name:</label>
    <input class="input" type="text" name="student[last_name]" id="last_name"  value="<%= student.last_name %>" required>

    <br><br>
    <label class="input" for="linkedin">LinkedIn Profile Address:</label>
    <input class="input" type="text" name="student[linked_in]" id="linked_in" value="<%= student.linked_in %>" required>
    
    <br><br>
    <label class="input" for="github">GitHub Profile Address:</label>
    <input class="input" type="text" name="student[facebook]" id="github" value="<%= student.facebook %>" required>

    <br><br>
    <label class="input" for="phone">Phone Number:</label>
    <input class="input" type="text" name="student[phone]" id="phone" value="<%= student.phone %>" required>

    <br><br>
    <label class="input" for="email">Email Address:</label>
    <input class="input" type="text" name="student[email]" id="email" value="<%= student.email %>" required>
    
    <br><br>
    <label class="input" for="image">Photograph URL:</label>
    <input class="input" type="text" name="student[image]" id="image" value="<%= student.image %>" required>
  
    

    
    <br><br>
    <label class="input" for="prev_occupation">Previous Occupation:</label>
    <input class="input" type="text" name="student[prev_occupation]" id="prev_occupation" value="<%= student.prev_occupation %>" required>
    
    <br><br>
    <label class="input" for="hometown_lat">Hometown Latitude:</label>
    <input class="input" type="text" name="student[hometown_lat]" id="hometown_lat" value="<%= student.hometown_lat %>" required>
    
    <br><br>
    <label class="input" for="hometown_long">Hometown Longitude:</label>
    <input class="input" type="text" name="student[hometown_long]" id="hometown_long" value="<%= student.hometown_long %>" required>

  
    <br><br>
    <label class="input" for="photo">Animal URL:</label>
    <input class="input" type="text" name="student[photo]" id="photo" value="<%= student.photo %>" required>
  

    <br>
    <input class="input" type="submit">
</form>

<% include ./partials/footer %>