<% include ./partials/header %>
<h1>The Class of </h1>
<img src="/g90.png" alt="g90 logo" width="250">



<table style="width:100%" class="ui celled table stackable">
    <tr>
        <th>Lastname</th> 
        <th>Firstname</th>
    </tr>
    <% student.forEach(student => { %>
        <tr data-href="/students/<%= student.id %>">
            <td><a href="/students/<%= student.id %>"><%= student.last_name  %></a></td>
            <td><a href="/students/<%= student.id %>"><%= student.first_name  %></a></td>
        </tr>
        <% }) %>
</table>


<% include ./partials/footer %>